.swiper-pagination {
  position: absolute;
  z-index: 10;
  transition: all .35s cubic-bezier(.68,-.6,.32,1.6), color .35s ease-out !important;
}
  
.swiper-pagination-bullet {
    background-color: #100E09;
    opacity: 0.6;               
  }
  
.swiper-pagination-bullet-active {
    background-color: #100E09;  
    opacity: 1;
}