.swiper-pagination {
  position: absolute;
  z-index: 10;
  transition: all .35s cubic-bezier(.68,-.6,.32,1.6), color .35s ease-out !important;
}
  
.swiper-pagination-bullet {
    @apply !bg-premium-dark !opacity-60
  }
  
.swiper-pagination-bullet-active {
  @apply !bg-premium-dark !opacity-100
}